html {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: #BFC9CA;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #BFC9CA;
	text-shadow: 3px 3px 1px black;
	font-size: 60px;
	text-align: center;
}

p, li {
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}
